/ @include 'kit/head.kit'

%header 
  .container_12
    .grid_3
      / @include 'kit/b_logo.kit'
    .grid_6
      / @include 'kit/b_menu.kit'
    .grid_3
      / @include 'kit/b_search.kit'

%section.main 
  .container_12.clearfix
    /%aside.grid_3
    /#  @include 'kit/b_btns1.kit'
    %section.content.fl
      / @include 'kit/b_find3.kit'
  .noise2
    .container_12.clearfix
      / $label = <span class="label color1">для детей</span>
      / @include 'kit/b_mini_tour.kit'
      / @include 'kit/b_large_tour.kit'
      .clear
      / @include 'kit/b_mini_tour.kit'
      / @include 'kit/b_mini_tour.kit'
      / @include 'kit/b_mini_tour.kit'

%footer 
  / @include 'kit/b_footer.kit'

/ @include 'kit/foot.kit'